* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

aside,
main {
  padding: 3em;
}

aside {
  background-color: #6a21ee;
  background-image: linear-gradient(174deg, #6a21ee 0%, #381280 100%);
  font-size: 0.9rem;
  color: #ffffff;
}

.menu {
  grid-column-start: 1;
  grid-column-end: 3;
}
.menu img {
  border-radius: 50%;
  margin: 8px;
}
.menu__info h4 {
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 7px;
}
.menu__info p {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1em;
  margin-top: 20%;
}
nav ul li {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
  transition: 0.2s;
  color: #d6d6d6;
}
nav ul li:hover span {
  color: #ffffff;
}
nav ul li:hover svg {
  stroke: #ffffff;
}

nav ul li img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
nav ul li:hover img {
  opacity: 1;
}

.social {
  margin-top: 30%;
  padding: 0 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #d6d6d6;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.social img {
  width: 38px;
  height: 38px;
  opacity: 0.7;
}

.social img:hover {
  opacity: 1;
}
.social a {
  margin: 7px;
}

main {
  height: 100%;
  width: auto;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  padding: 2%;
}

header p {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em 0;
  font-size: 1rem;
}
section {
  display: grid;
  grid-column: 1 / 3;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

section h4 {
  font-size: 1rem;
  font-weight: large;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #6a21ee;
}
section p {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  grid-column: 2 / 3;
}
section p:nth-child(2) {
  color: #9b9b9b;
}
section p:nth-child(3) {
  color: #6a21ee;
  justify-self: end;
  cursor: pointer;
}
section p:nth-child(3):hover {
  color: inherit;
}

.card {
  width: 100%;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}
.card__avatar {
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
}
.card__name {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #6a21ee;
}
.card__country {
  color: #9b9b9b;
  font-size: 0.8rem;
  margin: 5px 0 20px;
}
.card__article {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

@media (max-width: 880px) {
  .menu {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  img {
    width: 24px;
    height: 24px;
  }

  nav {
    padding: 0;
  }
  nav ul li {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  nav ul li img {
    margin-bottom: 10px;
  }

  .social {
    flex-flow: column wrap;
  }

  .social img {
    margin-bottom: 10px;
  }
}
@media (max-width: 680px) {
  .container {
    grid-template-columns: 16% 1fr;
  }

  aside,
  main {
    padding: 3em 5px;
  }

  main {
    padding: 3em 1em;
  }

  .menu__info {
    display: none;
  }

  nav ul li img {
    width: 24px;
    height: 24px;
  }
  nav ul li span {
    display: none;
  }

  .social img {
    width: 24px;
    height: 24px;
  }
}
